/* general styles */

:root {
  --color-primary: rgba(19, 19, 19, 0.95);
  --color-secondary: #555;
  --dark-transparent: rgba(0, 0, 0, 0.7);
  --bright: rgba(253, 253, 253, 0.9);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-primary);
  background-color: var(--bright);
}

a {
  color: var(--bright);
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* end of general styles */


/* navbar */

.navbar {
  padding: 12px 0;
  width: 100%;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logo-name {
  font-size: 36px;
}

.nav-links {
  display: flex;
  justify-self: flex-end;
  align-items: center;
}

.nav-link {
  color: var(--color-primary);
}

.nav-links li {
  padding: 0 1rem;
}

.nav-links li:last-of-type {
  padding-right: 0;
}

.nav-trigger {
  display: none;
  background-color: var(--dark-transparent);
}

.nav-trigger div {
  background-color: var(--bright);
  width: 30px;
  height: 3px;
  margin: 5px;
  transition: 0.5s ease;
}

.nav-trigger-change .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.nav-trigger-change .line-2 {
  opacity: 0;
}
.nav-trigger-change .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* end of navbar */

/* section-one */

.section-one {
  margin: 6rem 0;
}

.section-one .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  text-align: center;
}

.section-one .img-container img {
  display: block;
  max-width: 100%;
}

.section-one h1 {
  font-size: 3rem;
  font-weight: 300;
}

.section-one p {
  margin: 1.4rem 0;
  font-size: 1.2rem;
  line-height: 1.4;
}

.btn {
  display: inline-block;
  border: 1px solid var(--color-primary);
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 50px;
  color: var(--color-primary);
  transition: all 0.3s ease-in;
}

.btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

/* end of section-one */

/* section-two */

.section-two {
  background-image: linear-gradient(
      to bottom,
      var(--dark-transparent),
      rgba(0, 0, 0, 0.4)
    ),
    url("../img/02.jpg"); /* W3C */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.section-two .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  color: var(--bright);
}

.section-two h3 {
  font-size: 2rem;
  letter-spacing: 3px;
}

.section-two h2 {
  font-size: 5rem;
  margin: 2rem 0;
  letter-spacing: 3px;
}

.section-two p {
  font-size: 1.4rem;
  line-height: 2rem;
  max-width: 800px;
}

/* end of section-two */

/* section-three / gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.gallery a:first-child {
  grid-row: 1/3;
  grid-column: 1/3;
}

.gallery a:nth-child(6) {
  grid-row: 1/3;
  grid-column: 5/7;
}

.gallery img,
.gallery a {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end of section-three / gallery */

/* footer */

.footer {
  background-color: var(--color-primary);
  color: var(--bright);
  padding: 4rem 0;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.footer .container h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.8rem;
}

.footer a {
  line-height: 1.6rem;
}

.social-media ul {
  display: flex;
}

.social-media ul li {
  padding-right: 0.6rem;
}

.blog-posts ul li,
.company-info ul li {
  padding: 0.2rem 0;
}

.blog-posts a,
.company-info a {
  display: inline-block;
}

.email-form {
  width: 100%;
  display: inline-block;
  background-color: var(--color-secondary);
  position: relative;
  border-radius: 20px;
  line-height: 0;
}

.email-form .form-control-wrapper label {
  display: none;
}

.email-form .form-control {
  display: inline-block;
  border: 0;
  outline: none;
  font-size: 1rem;
  color: #ddd;
  background-color: transparent;
  font-family: inherit;
  margin: 0;
  padding: 0 3rem 0 1.5rem;
  width: 100%;
  height: 45px;
  border-radius: 20px;
}

.email-form .submit {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: #ddd;
  font-size: 1rem;
  text-align: center;
  color: #333;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  outline: none;
}

.copyright {
  margin-top: 30px;
  padding-top: 4rem;
  text-align: center;
  border-top-color: #ddd;
  border-top: 1px solid;
}

/* end of footer */

/* media queries */

@media (max-width: 991px) {
  .section-one p {
    display: none;
  }

  .btn {
    margin-top: 20px;
  }

  .footer .container {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .social-media ul {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .logo-name {
    font-size: 24px;
  }

  .nav-trigger {
    display: inline-block;
    position: fixed;
    right: 15px;
    align-self: start;
    cursor: pointer;
    z-index: 10;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 50%;
    transition: 0.3s ease-in;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--color-primary);
    flex-direction: column;
    justify-content: center;
  }

  .nav-links li {
    padding: 1rem;
  }

  .nav-links li:last-of-type {
    padding-right: 1rem;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links.open a {
    color: var(--bright);
  }
  .section-one .container {
    grid-template-columns: 1fr;
  }

  .section-one .container div:first-child {
    order: 1;
  }

  .section-one .container div:last-child {
    order: 0;
    margin: auto;
  }

  .section-one p {
    display: block;
  }

  .section-two h2 {
    font-size: 3.6rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery a:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .gallery a:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .gallery a:nth-child(3) {
    grid-column: 1/3;
  }
  .gallery a:nth-child(6) {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .footer {
    padding: 2rem 0;
  }

  .footer .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-media ul {
    justify-content: center;
  }

  .social-media {
    order: 2;
  }

  .blog-posts {
    display: none;
  }

  .subscribe {
    order: -1;
  }

  .copyright {padding-top: 2rem;}
}

/* end of media queries */
